#corpo {  
  width: auto;  
  height: auto;  
  margin: 0 auto;  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid green; 
}  

#topo {  
  width: auto;  
  height: 150px;  
  margin: 0 auto;  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid black;  
}  

#esquerda {  
  width: 150px;  
  height: auto;  
  float: left; /* Alinha no canto da esquerda */  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid rgb(0, 255, 76);  
}  

#direita {  
  width: 150px;  
  height: auto;  
  float: right; /* Alinha no lado da direita */  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid red;  
}  

#centro {  
  width: auto;  
  height: auto;  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid blue;  
}  

#rodape {  
  width: auto;  
  height: 50px;  
  clear: both; /* Para evitar sobreposição com elementos flutuantes */  
  background-color: #ffffff;  
  padding: 0 20px 20px 20px;  
  border: 3px solid rgb(6, 14, 87);  
}  
